@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Rowdies:wght@300;400;700&display=swap');

.footer {
    display: flex;
    background-color: #003049;
    color: #dda15e;
    padding: 2rem 1rem;
    text-align: center;
    font-family: "Rowdies", sans-serif;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footer__about, 
.footer__links, 
.footer__social {

    flex: 1 1 200px;
}

.footer__links ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

.footer__links li {
    margin: 0.5rem 0;
}

.footer__links a {
    color: #dda15e;
    text-decoration: none;
}

.footer__links a:hover {
    text-decoration: underline;
    color: #03045e;
    font-weight: 900;
}

.footer__icons a {
    color: #dda15e;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: 0.3s;
}

.footer__icons a:hover {
    color: #03045e;
}

.footer__copyright {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #ffcc80;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer {
        width: 100%;
    }

    .footer__container {
        flex-direction: column;
        gap: 1rem;
    }
}
